* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    min-height: 100vh;
    box-sizing: border-box;
    font-size: 62.5%;

    @media only screen and (max-width: 900px) {
        font-size: 56%;
    }
}

body {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.6;
    color: #fff;
    background-image: radial-gradient(#39d6ff 5%, #007e9f);
    // background: #007e9f;
}

ul {
    list-style: none;
}
